*.i
*.ii
*.gpu
*.ptx
*.cubin
*.fatbin
*.o
*.ipynb_checkpoints
*.cmake
*.exe

CMakeFiles
CMakeCache.txt
Makefile
nbody_brute
main



.vscode

Sequential_CPU/gmon\.out

Sequential_CPU/trajectories\.txt

Barnes_Hut_CUDA/trajectories\.txt

Barnes_Hut_CUDA/with_tree_GPU/trajectories\.txt

brute_force_CUDA/brute_nbody/

figs/

Barnes_Hut_CUDA/with_tree_GPU/nbody

Barnes_Hut_CUDA/hybrid/trajectories\.txt

Barnes_Hut_CUDA/hybrid/nbody

Barnes_Hut_CUDA/hybrid/animation\.mp4

Barnes_Hut_CUDA/hybrid/valgrind-out\.txt

Sequential_CPU/Barnes_Sequential/

Sequential_CPU/Barnes_CUDA/

brute_force_CUDA/nbody
